@mixin tablet {
    @media (min-width: 455px){
        @content
    }
         
}

@mixin pc-g {
    @media (min-width: 1200px){
        @content
    }
         
}

@mixin box {
    width: 100%;
    height: 130px;
    border: solid 2px red;
    
}

@mixin box2 {
    @include flex-center();
    width: 100%;
    height: 700px;
    border: solid 2px red; 
}

@mixin title {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 6px;
    text-shadow: 3px 3px 3px $celeste;
    text-align: end;
    color: $azul;
    
    position: relative;
    animation-name: desplazarse;
    animation-duration: 3s;

    
}
@keyframes desplazarse{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin form {
    width: 90%;
    height: 650px;
    background: rgba(87, 127, 145, 0.63);  
    border: 50px solid transparent;
    outline: 1px solid white;
    

    
}
@mixin form-input {
    padding: .2rem;
    margin: .2rem ;
    width: 100%;
    border: none;
    border-bottom: 3px solid rgb(3, 95, 145);
    background-color: #96c4da67;
    
    
}


